body {
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    list-style-type: none;
    border: none;
    background-color: #eee;
}

.btn-primary {
    border-radius: 20px;
    color: white;
    background-color: #d85372;
}

a {
    text-decoration: none;
    list-style: none;
}