a {
    text-decoration: none;
    list-style: none;
}

a:hover {
    text-decoration: none;
    color: blue
}

input:hover {
    border: none;
    outline: none;
}

.btn-prm {
    border-radius: 20px;
    color: white;
    background-color: #d85372;
    padding: 5px;
    width: 90px;
    border: none;
}